.test-your-data {
  position: absolute;
  top: 238px;
  left: 510px;
  display: inline-block;
  color: var(--color-black);
  width: 239px;
  height: 49px;
}
.frame-child2 {
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 601.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-gray-300);
  backdrop-filter: blur(13.6px);
  width: 522px;
  height: 88px;
}
.k-means-clustering {
  position: absolute;
  top: 22px;
  left: 15px;
  display: inline-block;
  width: 1136px;
  height: 80px;
}
.frame1 {
  position: absolute;
  top: 36px;
  left: 39px;
  width: 1203px;
  height: 102px;
  font-size: var(--font-size-29xl);
}
.frame-child3 {
  position: absolute;
  top: -2px;
  left: -4px;
  border-radius: var(--br-3xs);
  background-color: var(--color-tomato);
  width: 205px;
  height: 62px;
}
.logout {
  position: absolute;
  top: 12px;
  left: 55px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  width: 95px;
  height: 35px;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 38px;
  left: 1041px;
  width: 201px;
  height: 55px;
}
.frame-child4 {
  position: absolute;
  height: 104.94%;
  width: 100.3%;
  top: -4.94%;
  right: 0;
  bottom: 0;
  left: -0.3%;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
}
.upload-file {
  position: absolute;
  top: 15px;
  left: 74px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  width: 182px;
  height: 46px;
}
.component-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 4px;
  left: 1px;
  width: 330px;
  height: 81px;
}
.frame2,
.or {
  position: absolute;
}
.frame2 {
  top: 325px;
  left: 464px;
  width: 331px;
  height: 85px;
}
.or {
  top: 0;
  left: 149px;
  display: inline-block;
  width: 31px;
  height: 26px;
}
.frame-child5,
.frame-child6 {
  position: absolute;
  top: 12px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 138px;
  height: 1px;
}
.frame-child6 {
  top: 13px;
  left: 191px;
}
.frame3,
.frame4 {
  position: absolute;
  top: 419px;
  left: 466px;
  width: 329px;
  height: 26px;
  font-size: var(--font-size-xl);
}
.frame4 {
  border: 0;
  background-color: transparent;
  display: block;
  font-family: var(--font-poppins);
  font-size: var(--font-size-mini);
  top: 454px;
  left: 368px;
  width: 524px;
  height: 191px;
  background-color: var(--color-whitesmoke);
  border-radius: var(--br-3xs);
}
.frame4::placeholder {
    color: #C3C3C3;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.frame-child7 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  width: 205px;
  height: 62px;
}
.frame-child7,
.frame5,
.test {
  position: absolute;
}
.test {
  top: 13px;
  left: 76px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  width: 69px;
  height: 35px;
}
.frame5 {
  cursor: pointer ;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 689px;
  left: 539px;
  width: 205px;
  height: 62px;
}
.macbook-air-4 {
  position: relative;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
