.choose-a-model,
.model-trained {
  position: absolute;
  top: 238px;
  left: 510px;
  display: inline-block;
  color: var(--color-black);
  width: 239px;
  height: 49px;
}
.choose-a-model {
  top: 560px;
  left: 575px;
  font-size: var(--font-size-mini);
  color: var(--color-silver);
  width: 131px;
  height: 22px;
}
.frame-child8 {
  position: absolute;
  top: calc(50% - 37px);
  left: calc(50% - 601.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-gray-300);
  backdrop-filter: blur(13.6px);
  width: 522px;
  height: 88px;
}
.k-means-clustering1 {
  position: absolute;
  top: 22px;
  left: 13px;
  display: inline-block;
  width: 1136px;
  height: 80px;
}
.frame6 {
  position: absolute;
  top: 36px;
  left: 41px;
  width: 1203px;
  height: 102px;
  font-size: var(--font-size-29xl);
}
.frame-child9 {
  position: absolute;
  top: 0;
  left: -6px;
  border-radius: var(--br-3xs);
  background-color: var(--color-tomato);
  width: 205px;
  height: 62px;
}
.logout1 {
  position: absolute;
  top: 14px;
  left: 53px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  width: 95px;
  height: 35px;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 36px;
  left: 1045px;
  width: 199px;
  height: 62px;
}
.frame-child10,
.frame7 {
  position: absolute;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  padding-left: 10px;
}
.frame7 {
  border: 0;
  display: block;
  font-family: var(--font-poppins);
  font-size: var(--font-size-mini);
  top: 355px;
  left: 441px;
  width: 397px;
  height: 47px;
}
.frame-child10 {
  top: 0;
  left: 0;
  width: 205px;
  height: 62px;
}
.save {
  top: 15px;
  left: 69px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  width: 66px;
  height: 31px;
}
.frame8,
.or1,
.save {
  position: absolute;
}
.frame8 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 433px;
  left: 537px;
  width: 205px;
  height: 62px;
  cursor: pointer;
}
.or1 {
  top: 0;
  left: 149px;
  display: inline-block;
  width: 31px;
  height: 26px;
}
.frame-child11,
.frame-child12 {
  position: absolute;
  top: 12px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 138px;
  height: 1px;
}
.frame-child12 {
  top: 13px;
  left: 191px;
}
.frame9 {
  position: absolute;
  top: 526px;
  left: 476px;
  width: 329px;
  height: 26px;
  font-size: var(--font-size-xl);
}
.model-1 {
  position: absolute;
  top: 15px;
  left: 51px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  width: 103px;
  height: 31px;
}
.frame10,
.frame11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 591px;
  left: 538px;
  width: 205px;
  height: 62px;
}
.frame11 {
  top: 675px;
}
.macbook-air-2 {
  position: relative;
  text-align: left;
  width: 100vw;
  min-height: 100vh; 
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}

.page-container {
  position: relative;
  background: linear-gradient(180deg, #9181f4, #5038ed);
  width: 100%;
  min-height: 100%; /* Make the container at least as tall as the viewport */
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
